<head>
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<nav class="navbar navbar-expand-lg navbar-red navbar-dark">
    <div class="wrapper"> </div>
    <div class="container-fluid all-show"> <a class="navbar-brand" routerLink="/client/acceuil">Girls <i class="fa fa-codepen"></i></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item"> <a class="nav-link active" aria-current="page" routerLink="/client/home-products">All Products</a>  </li>
                <li class="nav-item"> <a class="nav-link" routerLink="/client/home-banner">Clothes</a> </li>
                <li class="nav-item"> <a class="nav-link" routerLink="/client/home">shoes</a> </li>
                <li class="nav-item"> <a class="nav-link" routerLink="/client/home-product-detail">jewllery</a> </li>
                <li class="nav-item"> <a class="nav-link" routerLink="/admin/gestprod">admin</a> </li>
                
            </ul>
           </div>
    </div>
</nav>
<router-outlet></router-outlet>

