<head>
<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header>
    <div id="indicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#indicators" data-slide-to="0" class="active"></li>
            <li data-target="#indicators" data-slide-to="1"></li>
            <li data-target="#indicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            
            <div class="carousel-item active" style="background-image: url('https://www.pimkie.fr/on/demandware.static/-/Library-Sites-SharedLibrary-pimkie/default/dweb13d758/Homepage/s49/s49_super_club_day_fr_full.png')">
                
            </div> 
           
        </div> </div>
</header>

<section class="py-5">
    <div class="container">
        <h1 class="font-weight-light">Offering fashion savvy women styles only For YOU..</h1>
        <p class="lead">We strive to be the ultimate destination for savoir-fare fashion fans, catering mostly to the fashion forward consumer looking for a combination of sophistication and glamour through this-season trends mixed with classic pieces.  Our market consists of a wide age range, from young club-goers to established professionals to everyday fashion conscious women.</p>
    </div>
</section>

<footer class="footer">
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3><a href="#">G<span>irls</span></a></h3>
            <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">shoes</a><strong> · </strong><a href="#">clothes</a><strong> · </strong><a href="#">jewllery</a><strong> · </strong><a href="#">Contact</a></p>
            <p class="company-name">Girls.COM © 2022</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p><span class="new-line-span">21 Revolution Street</span>Tunisia</p>
            </div>
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left">  94850459</p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p> <a href="#" target="_blank">Girls@gmail.com</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            
            <h4>About the company</h4>
            <p>Girls.com is one of the best website for shoping en ligne.</p>
            <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"><a href="https://www.facebook.com/" target="_blank">
                
            </a></i></a><a href="#"><i class="fa fa-twitter"><a href="https://twitter.com/" target="_blank"></a></i></a>
            <a href="#"><i class="fa fa-instagram"><a href="https://www.instagram.com/" target="_blank"></a></i></a>
           </div>
        </div>
    </div>
</footer>


